@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização para todas as classes do Markdown */

/* Estilizações gerais */

/* Estilizações para cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Estilizações para parágrafos */
p {
  color: #333;
  white-space: pre-wrap;
}

/* Estilizações para links */
a {
  color: #3498db;
  cursor: pointer;
  
}

/* Estilização para blocos de código */
pre {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  box-sizing: border-box;
  max-width: 100%;
  width: calc(100% - 2em); /* Remove a margem horizontal */
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Estilização melhorada para a tag <code> */
code {
  display: block;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  color: #333;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  text-indent: 20px;
  backdrop-filter: blur(5px);
}


/* Estilizações para tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Estilizações para cabeçalhos de tabela */
th {
  background-color: #f2f2f2;
  padding: 0.5em;
  border: 1px solid #ddd;
}

/* Estilizações para células de tabela */
td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

/* Estilizações para linhas alternadas em tabela */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilizações para hover em linhas de tabela */
tr:hover {
  background-color: #f2f2f2;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  /* Reduz tamanho de cabeçalhos */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 1.2em; /* Exemplo de ajuste de tamanho */
  }
  
  /* Ajustes para parágrafos */
  p {
    font-size: 0.9em;
  }
  
  /* Ajustes para blocos de código */
  pre,
  pre code {
    font-size: 0.8em;
    padding: 0.8em;
  }
}

@media (max-width: 480px) {
  /* Ajustes adicionais para telas menores */
  pre,
  pre code {
    font-size: 0.7em;
    padding: 0.6em;
  }
}

/* Outros ajustes conforme necessário */

    /* Adicione isso ao seu arquivo CSS global ou em um arquivo específico */

.spinner {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

    
 
    